* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;

    font-size: 62.5%; /* 1rem = 10px */
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1.6rem; /* 16px */
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 136.6rem;
    height: 13.3rem;
}

.page {
    display: flex;
    gap: 8.2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 49.4rem;
    height: 31.6rem;

    margin-top: 5.2rem;
    margin-left: 12.3rem;
}

h1 {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 5.4rem;

    letter-spacing: 0.105em;
    text-transform: uppercase;

    color: var(--purple);

    margin-bottom: 1.9rem;
}

.countdown {
    display: grid;
    grid-template-columns: 10rem 2rem 10rem 2rem 10rem 2rem 10rem 2rem 10rem 2rem 10rem;
    text-align: center;
    align-items: center;
}

.countdown-container p  {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.1rem;
    
    text-transform: capitalize;

    color: var(--light-grey);
}

h3 {
    font-weight: 400;
    font-size: 7.2rem;
    line-height: 10.8rem;

    color: var(--black);
}

span {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;

    color: var(--text-color);
    
    margin-top: 4.8rem;
    margin-bottom: 3.1rem;
}

button {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;

    color: #FFFFFF;
    background: var(--purple);
    
    border:none;
    border-radius: 1rem;

    padding: 1.6rem 3.2rem;
    width: fit-content;

    cursor: pointer;
}

aside {
    width: 60.7rem;
    height: 43.5rem;

    margin-top: 1.7rem;
}

.lateral-image {
    opacity: 1;
    visibility: visible;
}

.lateral-image.transparency {
    opacity: 0.6;
    visibility: visible;
}

footer {
    position: fixed;
    bottom: 0;

    z-index: -1;

    width: 136.6rem;
    height: 22.9rem;
}

/* === Modal =========================== */

.modal-overlay {
    position: fixed;
    top: 0;
    
    opacity: 0;
    visibility: hidden;
    
    z-index: 1;
}
  
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.main-menu {
    opacity: 1;
    visibility: visible;
}

.main-menu.disabled {
    opacity: 0;
    visibility: hidden;
}

form {
    width: 49.4rem;
    height: 31.6rem;

    margin-top: 17rem;
}

form fieldset{
    display: flex;
    flex-direction: column;

    background: var(--light-grey);

    border: none;
    border-radius: 1rem;

    padding: 1rem;
}

form legend {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 5.4rem;

    color: var(--purple);

    text-shadow: 1px 1px 2px gray;
}

form label {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem;

    color: var(--purple);
}

form input {
    margin-bottom: 1.9rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem;

    color: var(--text-color);

    border: none;
    border-radius: 0.5rem;

    padding: 0.5rem;
}

form button {
    align-self: center;
}
